body {
    background-color: red;
}

.container {
    background-color: purple;
    height: 250px;
    width: 500px;
    display: flex;
    justify-content: space-around;
    border: solid orange 5px;
}

.circle {
    background-color: green;
    height: 150px;
    width: 150px;
    border-radius: 50%;
    margin: 50px;
    border: solid-orange 5px;
}

.wrapper {
    display: flex;
    justify-content: space-between;
}

.container1 {
    background-color: black;
    height: 250px;
    display: flex;
    justify-content: space-around;
    border: solid orange 5px;
}

.container2 {
    height: 400px background-color: white;
}